{% extends 'core/base.html' %}

{% block title %}Kontakt{% endblock %}

{% block content %}
    <h1>Benjamin Håland - Utvikler - e-post: Brhaalan@hiof.no</h1>
    <h1>Chris Thomas Ingebrigtsen Jarholm - Utvikler - epost: Ctjarhol@hiof.no</h1>
    <h1>Christopher Halvorsen Peschel - UI Designer - epost: Christhp@hiof.no</h1>
    <h1>Jonas Dombestein Heggelund - Utvikler - epost: Jonasdh@hiof.no</h1>
    <h1>Mathias Kollegård - UI Designer - epost: Mathiask@hiof.no</h1>
    <h1></h1>
{% endblock %}